 

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#titre{
    margin-top:100px;
    text-align: center;
    color: brown ;
    

}

#tourner{
    transform: rotate(90);
}

.photos{
    margin:30px;
    display:flex;
    align-items: center;
    gap:7%;
    
}


canvas {
        display: block;
        margin: auto;
        border: 2px solid #333;
        cursor: crosshair;
}

.superposage {
  position: relative;
  display: inline-block;
}

.superposage img {
  display: block;
  width: 400px;
  height: auto;
  z-index: 1; /* en dessous du grattage*/
  position: relative;
}

.superposage canvas {
  position: absolute;
  top: 0; 
  left: 0;
  width: 400px;
  height: 100%;
  z-index: 2; /* au dessu de l'image*/
}
