 

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#titre{
    margin-top:100px;
    text-align: center;
    color: brown ;
    

}

#tourner{
    transform: rotate(90);
}

.photos{
    margin:30px;
    display:flex;
    align-items: center;
    gap:7%;
    
}


