navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed; 
    top: 0;     
    a:not(#logo){
        /*boites*/
        background-color:  rgb(140, 81, 4);
        width: 100px;
        height: 40px;
        box-sizing: border-box;   /* remplissage du box*/
        padding: 10px;
        margin: 15px;
        border-radius: 40% 40% 40% 40%;
        text-align: center;        
        text-decoration: none; /*enlever le soulignement*/
        color : white;
        font-weight: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;   
        transition: all 0.3s ease;     
    }
    a:not(#logo):hover{
        transform: scale(1.2);
        background-color: #aa0303;
        
    }
}  
/* Reset de base */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#titre{
    margin-top:100px;
    text-align: center;
    color: brown ;
    

}

#tourner{
    transform: rotate(90);
}

.photos{
    margin:30px;
    display:flex;
    align-items: center;
    gap:7%;
    
}


.footer {
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 20px 0px;
    text-align: center;
   
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    
    max-width: 700px; /* Largeur maximale */
    margin: 0 auto; /* Centrer le contenu */   
}


.footer-links {
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center; /* Centrer les liens */
    gap: 15px; /* Espacement entre les liens */
    
}
.footer-links img:hover{
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.footer-links a {
    
    text-decoration: none;
    color:#333;
    
}