  
#titre{
    color: red;   
    font-size: xx-large; /* xxsmall medium xxlarge larger smaller*/
    font-family: sans-serif,Verdana;
    font-weight: large;
    text-align: center;
    margin: auto;
    background-color: blanchedalmond;
    top: 200px;
    
    
    
}


navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed; 
    top: 0;     
    a:not(#logo){
        /*boites*/
        background-color:  rgb(140, 81, 4);
        width: 100px;
        height: 40px;
        box-sizing: border-box;   /* remplissage du box*/
        padding: 10px;
        margin: 15px;
        border-radius: 40% 40% 40% 40%;
        text-align: center;        
        text-decoration: none; /*enlever le soulignement*/
        color : white;
        font-weight: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;   
        transition: all 0.3s ease;     
    }
    a:not(#logo):hover{
        transform: scale(1.2);
        background-color: #aa0303;
        
    }
}     


iframe {
    border-radius: 15px;      
    display: block;
    margin: auto;         
}

.premium {
    background: linear-gradient(135deg, grey,red);
    color: #fff;
    width: 550px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    
}

.premium h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: brown;
}

.premium p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.premium ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.premium ul li {
    font-size: 14px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.premium ul li::before {
    content: '✔️';
    margin-right: 10px;
}

.premium .price {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
}

.premium .subscribe-btn {
    display: inline-block;
    background-color: #ff7e5f;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
}


#tkt {
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
    color: #fff; /* texte blanc */
  }

  .footer {
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 20px 0px;
    text-align: center;
   
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    
    max-width: 700px; /* Largeur maximale */
    margin: 0 auto; /* Centrer le contenu */   
}


.footer-links {
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center; /* Centrer les liens */
    gap: 15px; /* Espacement entre les liens */
    
}
.footer-links img:hover{
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.footer-links a {
    
    text-decoration: none;
    color:#333;
    
}