navbar {
    width: 100%;
    margin: 0; /*marge tout autour de la navbar*/
    padding: 0; /* écart à l'intérieur de la navbar*/
    position: fixed; /* la navbar reste en haut quand on défile*/
    top: 0;     
    a:not(#logo){ /* comprend les liens sauf le logo*/
        /* création de boites*/
        background-color:  rgb(140, 81, 4);
        width: 100px; 
        height: 40px;
        box-sizing: border-box;   /* remplissage de la boite*/
        padding: 10px;
        margin: 15px;
        border-radius: 40% 40% 40% 40%; /* arrondi les coins de la boite */
        text-align: center;        
        text-decoration: none; /*enlever le soulignement*/
        color : white;
        font-weight: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;  /*police*/ 
        transition: all 0.3s ease;     
    }
    a:not(#logo):hover{
        transform: scale(1.2);
        background-color: #aa0303;
        
    }
}  
/* Reset de base */
body {
    margin: 0;
    padding: 0;
    background-image: url(images/fond-de-bois-peint-blanc.webp);
    
}
ul, li{
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(images/fond-de-bois-peint-blanc.webp);
    background-size:cover;
}

.img1{
    position: absolute; /* Permet de superposer les images */
    top: 450px;
    left: 100px;   
}

.img2{
    position:absolute;
    top:500px;
    right:200px;
}
.infos{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    .cotelette h1{
        justify-content: center;      
        display: flex;  
    }
    .cotelette h2{
        text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
        color: #fff; /* texte blanc */
    }
}


#avis{
    margin: 60px;
    img{
        border-radius: 100%;
    }
    img:hover{
        border-radius: 0;
    }
    .score{
        display:flex;
        align-items: flex;
        h1{
            margin-left:50px;
            color:rgb(140, 81, 4);
        }
    }
   
}

#acheter{
    margin-left: 80px;
    margin-bottom: 100px;
}
 .footer {
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 20px 0px;
    text-align: center;
   
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    
    max-width: 700px; /* Largeur maximale */
    margin: 0 auto; /* Centrer le contenu */   
}


.footer-links {
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center; /* Centrer les liens */
    gap: 15px; /* Espacement entre les liens */
    
}
.footer-links img:hover{
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.footer-links a {
    
    text-decoration: none;
    color:#333;
    
}