/* Reset de base */
body {
    background-image: url(images/fond-de-bois-peint-blanc.webp);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    
}
 ul, li{
    list-style: none;   
}



navbar {
    width: 100%;
    margin: 0; /*marge tout autour de la navbar*/
    padding: 0; /* écart à l'intérieur de la navbar*/
    position: fixed; /* la navbar reste en haut quand on défile*/
    top: 0;     
    a:not(#logo,#heure){ /* comprend les liens sauf le logo*/
        /* création de boites*/
        background-color:  rgb(140, 81, 4);
        width: 100px; 
        height: 40px;
        box-sizing: border-box;   /* remplissage de la boite*/
        padding: 10px;
        margin: 15px;
        border-radius: 40% 40% 40% 40%; /* arrondi les coins de la boite */
        text-align: center;        
        text-decoration: none; /*enlever le soulignement*/
        color : white;
        font-weight: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;  /*police*/ 
        transition: all 0.3s ease;     
    }
    a:not(#logo, #heure):hover{
        transform: scale(1.2);
        background-color: #aa0303;
        
    }
}     

#titre{
    margin-top:100px;
    text-align: center;
    color: brown ;
}

.questionnaire{
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left:60px;
    padding:50px;
    margin-bottom:150px; 
    border: 15px solid black ;
    border-radius: 30%;
    color:wheat;
    
}
#block{
    display: flex;
    justify-content: center;
    gap : 500px;
    align-items: flex-start;
    
}
.communications{
    margin:100px;
   
}
.footer {
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 20px 0px;
    text-align: center;
   
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    
    max-width: 700px; /* Largeur maximale */
    margin: 0 auto; /* Centrer le contenu */   
}


.footer-links {
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center; /* Centrer les liens */
    gap: 15px; /* Espacement entre les liens */
    
}
.footer-links img:hover{
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.footer-links a {
    
    text-decoration: none;
    color:#333;
    
}